*{
    margin: 0;
    padding: 0;
}

/*comeco do cabecalho*/
header{
	min-height: 0px;
	width:100%;
	background-color:rgb(235,235,235);
	text-align:center;
}
#logo{
	padding-top:5px;
	height:100px;
}
/*fim do cabecalho*/

aside{
	padding-left:10px;
	padding-right:10px;
}
#div_separacao{
	display:flex;
}
#asideDentro{
	max-height:auto;
	width:20%;
	background-color:rgb(235,235,235);
}
#lista{
	list-style-type:none;
}
#sectionDentro{
	width:100%;
	padding-left:8px;
}
#conteudo{
	letter-spacing: -1px;
	display:flex;
}
a{
	padding-left: 2%;
	padding-right: 5%;
}
#img_conteudo{
	width: 300px;
	height: auto;
}
.listaAside{
	display:block;
}
.linkSection:hover{
	background-color:transparent;
}
.videosSection{
	display:flex;
}
iframe{
	border:1rem solid transparent;
}
#hrDeCima{
	margin-bottom:1rem;
}
#hrDoFooter{
	margin-bottom:1rem;
	margin-top:0px;
}


/*comeco do rodape*/
footer{
	background-color:rgb(210,210,210);
	min-height:35px;
	padding-bottom:0.1px;
}
#copyright{
	text-align:center;
	color:rgb(30,30,30);
	font-size:13;
}
#footerdown{
	position:absolute;
	bottom:0;
	width:100%;
}
/*fim do rodape*/